.tatu {
	text-decoration: underline;
	font-family: $font-family_4;
	color: $color_2;
}
.pier {
    @extend .tatu;
}
#cuidados {
	font-family: $font-family_4;
	font-size: x-large;
	font-weight: bold;
	color: $color_2;
	text-decoration: underline;
}
.servicios {
    @extend .tatu;}