$color_1: white;
$color_2: rgb(16, 247, 8);
$color_3: black;
$font-family_1: cinzel;
$font-family_2: monospace;
$font-family_3: "Courier New", Courier, monospace;
$font-family_4: vt323;
$font-family_5: "Times New Roman", Times, serif;
$font-family_6: fantasy;
$background-color_1: rgb(5, 5, 5);
$background-color_2: rgb(16, 247, 8);
$background-color_3: white;